{% extends 'root.html' %}

{% block content %}

    Вы действительно хотите удалить статью:
    <h1>{{object.articlename}}</h1>
    ?

    <form method="post">
        {% csrf_token %}
        <button type="submit">Да</button>
    </form>

{% endblock %}
