{% extends 'root.html' %}

{% block content %}
    <h1 class="bg-success p-2" style="--bs-bg-opacity: .5;">Полезные статьи</h1>
    <ul class="list-group">
        {% for article in object_list %}
        <li class="list-group-item">
            <a class="btn btn-success" href="{% url 'article' pk=article.pk %}">{{article.articlename}}</a>
                {% if user.is_superuser %}/
                <span>
                    <a href="{% url 'article_delete' pk=article.pk %}">Удалить</a>
                </span>
                {% endif %}
        </li>
        {% endfor %}
    </ul>

{% if user.is_superuser %}

    <a href="{% url 'article_create' %}">Создать</a>
{% endif %}

{% endblock %}
