{% extends 'root.html' %}

{% block content %}
    <img src="https://downloader.disk.yandex.ru/preview/fb7ebcdcea50082b9f9bea0b271a9a575732bf299c3c4d157d8abec89ae5bab5/63fe7218/eHxd_aixbS21ej_PYijFXWnd9xyLp9OaIz4R2jm41MkcQSZMSd7zLvk5vERl58vxuNyc181lnf4-oj8DMN61Cw%3D%3D?uid=0&filename=%D0%A2%D0%B0%D0%B3.JPG&disposition=inline&hash=&limit=0&content_type=image%2Fjpeg&owner_uid=0&tknv=v2&size=2048x2048" width = "400">
    <h4 class="text-success">Тел.: +79161409976</h4>
    <h4 class="text-success">Эл. почта: tagkate@gmail.com</h4>
    <h4 class="text-success">Сообщество VK: Расти счастливым</h4>
{% endblock %}
