{% extends 'root.html' %}

{% block content %}
    <h1 class="text-primary">Добро пожаловать в проект "Расти счастливым!</h1>
    <h2 class="text-success">Здесь все о воспитании счастливых детей!</h2>
    <img src="https://img.7dach.ru/image/1200/00/00/71/2014/07/04/754855.jpg" width = "700">
{% endblock %}
