{% extends 'root.html' %}

{% block content %}
    <h1>список заявок</h1>
    <ul>
        {% for order in object_list %}
        <li>
            <a href="{% url 'order' pk=order.pk %}">{{order.Имя}}</a>
        </li>
        {% endfor %}
    </ul>

{% endblock %}
