{% extends 'root.html' %}

{% block content %}
    <h1>{{object.Имя}}</h1>
    <p>
        {{object.Телефон}}
    </p>
    <p>
        {{object.Услуга}}
    </p>
    <p>
        {{object.Комментарий}}
    </p>

{% endblock %}
