{% extends 'root.html' %}

{% block content %}

  <form class="mb-3" method="post">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit" class="btn btn-success">Сохранить</button>
  </form>
{% endblock %}
