{% extends 'root.html' %}

{% block content %}

    Вы действительно хотите удалить продукт:
    <h1>{{object.name}}</h1>
    <p>
        {{object.category.name}}
    </p>
    ?

    <form method="post">
        {% csrf_token %}
        <button type="submit">Да</button>
    </form>

{% endblock %}
