{% extends 'root.html' %}

{% block content %}
    <h1 class="bg-success p-2" style="--bs-bg-opacity: .5;">Услуги и мероприятия</h1>
    <ul class="list-group">
        {% for service in object_list %}
        <li class="list-group-item">
            <a class="btn btn-success" href="{% url 'service' pk=service.pk %}">{{service.name}} / {{service.category.name}}</a>
                {% if user.is_superuser %}/
                <span>
                    <a class="btn btn-danger" href="{% url 'service_delete' pk=service.pk %}">Удалить</a>
                </span>
                {% endif %}
                {% if user.is_superuser %}/
                <span>
                    <a class="btn btn-warning" href="{% url 'service_update' pk=service.pk %}">Изменить</a>
                </span>
                {% endif %}
        </li>
        {% endfor %}
    </ul>

    <div class="btn-group">
        {% if user.is_superuser %}
          <a href="{% url 'service_create' %}" class="btn btn-success" aria-current="page">Создать</a>
        {% endif %}
          <a href="{% url 'order_create' %}" class="btn btn-primary">Оставить заявку на услугу</a>
        {% if user.is_superuser %}
          <a href="{% url 'orders_list' %}" class="btn btn-success">Список заявок</a>
        {% endif %}
    </div>
{% endblock %}
