{% extends 'root.html' %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button class="btn btn-success" type="submit">Вход для администратора</button>
    </form>
{% endblock %}
